@charset "UTF-8";
/* 文字コードの指定
------------------------------------------------------------*/
/* ----------- */
/*     base    */
/* ----------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: 'Montserrat', sans-serif,'Noto Sans JP', sans-serif;
  line-height: 2;
}

img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding: 120px 0;
}

.section-inner {
  max-width: 700px;
  padding: 0 30px;
  margin: 0 auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.link-btn {
  display: block;
  width: 160px;
  line-height: 36px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-top: 30px;
  font-weight: bold;
}

.link-btn:hover {
  opacity: .7;
  transition: .3s;
}

/* ----------- */
/*   header    */
/* ----------- */
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-inner .header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 36.1vw;
  height: 100vh;
  text-align: center;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s, opacity .3s;
}

header .header-inner .header-nav .nav-list {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-inner .header-nav .nav-list .nav-item {
  margin-bottom: 30px;
}

header .header-inner .header-nav .nav-list .nav-item:first-of-type {
  margin-bottom: 40px;
}

header .header-inner .header-nav .nav-list .nav-item:last-of-type {
  margin-bottom: 0;
}

header .header-inner .header-nav .nav-list a {
  color: white;
}

header .header-inner .site-title {
  width: 260px;
  top: 38px;
  left: 4vw;
  position: fixed;
  z-index: 1;
}

header .header-inner .site-title.black svg path {
  fill: #333;
  transition: fill .3s;
}

header .header-inner .burger-btn::after {
  content: "MENU";
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

header .header-inner .burger-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

header .header-inner .burger-btn .bar {
  display: block;
  height: 2px;
  width: 22px;
  background-color: #fff;
  border-radius: 1px;
  margin-right: 5px;
}

header .header-inner .burger-btn .bar_top {
  transform: translateY(-4px);
  transition: transform .3s;
}

header .header-inner .burger-btn .bar_bottom {
  transform: translateY(4px);
  transition: transform .3s;
}

header .header-inner .burger-btn .bar.cross.bar_top {
  transform: translateY(2px) rotate(30deg);
  transition: transform .3s;
}

header .header-inner .burger-btn .bar.cross.bar_mid {
  opacity: 0;
  transition: opacity .3s;
}

header .header-inner .burger-btn .bar.cross.bar_bottom {
  transform: translateY(-2px) rotate(-30deg);
  transition: transform .3s;
}

header .header-inner .burger-btn.black .bar {
  background: #333;
  transition: background-color .3s;
}

header .header-inner .burger-btn.black::after {
  content: "MENU";
  color: #333;
}

header .header-inner body.noscrol {
  overflow: hidden;
}

header .header-inner .header-nav.open {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

header .header-inner .burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* ----------- */
/*  first view  */
/* ----------- */
.fv {
  height: 100vh;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.fv .kv-wrapper {
  width: 76.4%;
  height: 86.5%;
  background: url(../images/heading-img_contact2x.png) no-repeat;
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.fv .main-copy {
  position: absolute;
  right: 0;
  top: 50%;
  color: #fff;
  transform: translate(50%, -20%);
  line-height: 1;
}

.fv .en-copy {
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.fv .ja-copy {
  font-size: 2rem;
  margin-bottom: 4px;
}



/*---------- */
/*    form   */
/*---------- */
.title{
  margin-bottom: 50px;
}
.radio-list{
  display: flex;
  align-items: center;
}
.radio-item{
  margin-right: 50px;
}
input,textarea{
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  border: none;
}
.radio{
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  border-radius: 50%;
  vertical-align: -4px;
}
.radio:checked{
  background-color: #333;
  border: solid 4px #fff;
  box-shadow: 0 0 0 1px #333;
}
.radio:hover,.submit-btn{
  cursor: pointer;
}
.text-box{
  border: solid 1px #333;
  color: #333;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}
.textarea{
  border: 1px solid #333;
  padding: 10px;
  color: #333;
  box-sizing: border-box;
}
.required{
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 5px;
  margin-left: 6px;
}
.form-title{
  font-weight: bold;
  margin-bottom: 10px;
}
.form-item{
  margin-bottom: 40px;
}
.privacy-policy-title{
  font-weight: bold;
  margin-bottom: 10px;
}
.privacy-policy-detail{
  padding: 10px;
  height: 230px;
  border: 1px solid #333;
  overflow: scroll;
  margin-bottom: 40px;
}
.confirm{
  text-align: center;
}
.checkbox{
  border: 1px solid #333;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}
.checkbox:checked{
  background-image: url(../images/checked.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.submit-btn{
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 40px auto 0;
}


/* ----------- */
/*   footer   */
/* ----------- */
footer {
  background: #525252;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  /* ----------- */
  /*   base-sp  */
  /* ----------- */
  body {
    font-size: 1.4rem;
  }
  .section-wrapper {
    padding: 80px 0;
  }
  
  /* ----------- */
  /*   header-sp  */
  /* ----------- */
  header .header-inner .site-title {
    width: 180px;
    top: 21px;
  }
  header .header-inner .burger-btn {
    top: 28px;
  }
  header .header-inner .header-nav {
    width: 67.7vw;
  }
  /* --------------- */
  /*  first view-sp  */
  /* --------------- */
  .fv .main-copy {
    transform: translate(10%, -20%);
    right: -15%;
  }
  .fv .main-copy .ja-copy {
    font-size: 1.6rem;
    text-align: right;
  }
  .fv .main-copy .en-copy {
    font-size: 5.2rem;
  }
  
  /* ----------- */
  /*   contact-sp    */
  /* ----------- */
  .radio-list{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 14px;
  }
  .radio-item{
    margin-bottom: 10px;
  }
}
